venv
*.mat
*.docx
logs
*.csv
*.png
.idea
previous_work
models/double_models/*
models/maxpool_models/*
models/saved_models/*
*.pt
*.json
*.txt
outputs/graphs
outputs/hp_graphs
outputs/max_pool_graphs
outputs/shifted_graphs
*.npy
outputs/all_layer_gradients
outputs/all_layer_grads
double_traning.py
*.pdf
*.out
*.ipynb